
*.log
*.gz
bsc_scan_btc_futures/Btc_Long_Short.txt
bsc_scan_binance/BtcResistanceZone.txt
bsc_scan_binance/BtcResistanceZone.txt
bsc_scan_binance/src/main/resources/.DS_Store
bsc_scan_binance/src/main/resources/.DS_Store
bsc_scan_binance/src/main/resources/.DS_Store
