<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Wanda</title>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<style>
.tableFixHead {
  overflow: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
}

th {
  background: #eee;
}

p {
  margin-bottom: 0px !important;
}

.highlight {
  background-color: #CFF5FF !important;
}

.oco_css:focus {
  color: red !important;
}

.fix_width {
    min-width: 138px !important;
    max-width: 138px !important;
    font-size: 0.8rem !important;
}

.fix_width2 {
    min-width: 180px !important;
    max-width: 180px !important;
    font-size: 0.8rem !important;
}

.display-tity{
    font-size: 0.65rem !important;
}

.table td, .table th {
  padding: 0.25rem !important;
  vertical-align: middle !important;
}

.hide {
  color: transparent !important;
}
.css-1ifhear{
  width: 16px;
  height: 16px;
}

</style>
<script type="text/javascript">
  $(function() {
    $(document).on("click", ".table_row", function() {
      $(this).addClass('highlight').siblings().removeClass('highlight');
    });
  });
</script>

<body style="display: flex;">
  <div class="table-responsive-sm">
    <p>(Điều kiện 1) Tổng quan thị trường chart W, xu hướng D1 ntn? <a th:target="_blank" th:href="${'https://www.coinglass.com/LongShortRatio'}">
		  <img src="https://cdn.coinglasscdn.com/static/exchanges/bitfinex.jpg" class="css-1ifhear" style="margin-top: -3px;"> Bitfinex
		</a></p>
    <p>(Điều kiện 2) Bơm thổi mạnh ngày: 20~30 (Long); Giá đi ngang rồi sập: 01~19, nghỉ lễ tết dài (Short).<a style="margin-left: 1rem;" th:target="_blank" th:href="${'https://pro.coingen.net/analysis/market-overview/btc-performance'}">coingen</a></p>
    <p>(Điều kiện 3) Thời gian ổn định: 9:45~11:30, 13:30~16:30. Hạn chế phiên Mỹ (18:30~22:30).<a style="margin-left: 1rem;" th:target="_blank" th:href="${'https://sslecal2.forexprostools.com/?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&category=_employment,_economicActivity,_inflation,_centralBanks,_confidenceIndex,_balance&features=datepicker,timezone,timeselector,filters&countries=5&importance=3&calType=week&timeZone=27&lang=52'}">Investing.com</a></p>
    <table id="bnb_table" class="table table-bordered tableFixHead">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Symbol</th>
          <th class="text-center" scope="col">Name/Pump</th>
          <th class="text-center" scope="col">MC/Vol</th>

          <th class="text-center text-primary" scope="col">Volume</th>
          <th class="text-center text-primary" scope="col">Range</th>
          <th class="text-center" scope="col">Price</th>
          <th class="text-center text-primary" scope="col">History</th>
          <th class="text-center" scope="col">%24h</th>
          <th class="text-center" scope="col">%7d</th>
          <th class="text-center" scope="col">%14d</th>
          <th class="text-center" scope="col">%30d</th>

          <th class="text-center text-primary" scope="col">Star</th>
          <th class="text-center" scope="col">Details</th>

          <th class="text-center" scope="col"
            th:text="'Today ' + ${#dates.format(#dates.createNow(), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 1), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 2), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 3), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 4), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 5), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 6), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 7), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 8), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 9), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 10), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 11), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 12), 'dd/MM')}">
          <th class="text-center" scope="col"
            th:text="${#dates.format( #dates.create(#dates.year(#dates.createNow()), #dates.month(#dates.createNow()), #dates.day(#dates.createNow()) - 13), 'dd/MM')}">

          <th class="text-center" scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table_row" th:each="token,iter: ${data_list}">

          <td style="text-align: center;" th:text="${iter.index + 1}" th:classappend="${#strings.contains(token.name, 'Futures') ? 'bg-success rounded-lg px-1' : 'bg-info rounded-lg px-1'}">
          <!-- Symbol -->
          <td class="" style="max-width: 80px !important;">
            <a
            th:target="_blank" th:href="${token.binance_trade}"><span
              th:text="${token.symbol}"></span>
            </a><br>
            <a th:target="_blank" th:href="${token.coin_gecko_link}">
              <span style="font-size: 0.7rem !important;" th:text="${token.trend}"></span>
            </a>
          </td>

          <!-- Name highlight rounded-lg px-1 -->
          <td style="font-size: 0.9rem !important; min-width: 180px !important; max-width: 180px !important;">
            <a th:target="_blank" th:href="${token.trading_view}">
              <span th:text="${token.name}"></span>
            </a>

            <p style="font-size: 0.7rem !important;" th:text="${token.note}"></p>
            <span style="font-size: 0.7rem !important;" th:text="${token.pumping_history}" th:classappend="${token.pumping_history_css}"></span>
          </td>
          <!-- MC/Vol -->
          <td style="font-size: 0.8rem !important; text-align: right; max-width: 220px !important;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}">
            <span th:classappend="${token.market_cap_css}" th:text="${#numbers.formatDecimal(token.market_cap, 0, 'COMMA', 0, 'POINT') + '$'}"></span>
            <p style="font-size: 0.8rem !important;"
              th:text="${#numbers.formatDecimal(token.gecko_total_volume, 0, 'COMMA', 0, 'POINT') + '$'}">
            <p style="font-size: 0.7rem !important;"
              th:text="${token.gecko_volumn_history}">
           </td>
          <!-- Volume -->
          <td style="font-size: 0.8rem !important; text-align: right; min-width: 100px !important; max-width: 100px !important;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}">
            <div th:classappend="${token.volumn_div_marketcap_css}">
              <span th:text="${token.volumn_div_marketcap} + '%'"></span>
              <span th:classappend="${token.volumn_binance_div_marketcap_css}" th:text="${token.volumn_binance_div_marketcap + '%'}"></span>
            </div>
            <p th:classappend="${token.volma_css}" th:text="${token.volma}" style="font-size: 0.6rem !important;">
          </td>
          <!-- Range -->
          <td style="text-align: right; min-width: 588px !important; max-width: 588px !important;">
            <div style="font-size: 0.75rem !important;" th:classappend="${token.futures_css}">
              <span th:classappend="${token.range_position_css}"       th:text="${token.range_position}" style="margin-right: 0.2rem;"></span>
              <span th:classappend="${token.range_wdh_css}"            th:text="${token.range_wdh}"></span>
              <span th:classappend="${token.range_L10d_css}"           th:text="${token.range_L10d}"></span>
              <span th:classappend="${token.range_H10d_css}"           th:text="${token.range_H10d}"></span>
              <span th:classappend="${token.range_L6w_css}"            th:text="${token.range_L6w}"></span>
              <span th:classappend="${token.range_type_css}"           th:text="${token.range_type}" style="font-size: 0.85rem !important;" ></span>
              <span th:classappend="${token.range_move_css}"           th:text="${token.range_move}"></span>
              <span th:classappend="${token.range_scap_css}"           th:text="${token.range_scap}"></span>
            </div>
            <!-- H1 -->
            <div style="font-size: 0.75rem !important;">
              <span th:text="${token.range_entry_h1}" th:classappend="${token.range_entry_h1_css}"></span>
            </div>
            <!-- H4 -->
            <div style="font-size: 0.75rem !important;">
              <span th:classappend="${token.range_stoploss_css}"       th:text="${token.range_stoploss}"></span>
              <span th:classappend="${token.range_entry_css}"          th:text="${token.range_entry}"></span>
              <span th:classappend="${token.range_take_profit_css}"    th:text="${token.range_take_profit}"></span>
              <span th:classappend="${token.range_volume_css}"         th:text="${token.range_volume}"></span>
            </div>
            <!-- D1 -->
            <div style="font-size: 0.75rem !important;">
              <span th:text="${token.oco_opportunity}" th:classappend="${token.dt_range_css}"></span>
            </div>
            <div style="font-size: 0.7rem !important;">
              <span th:text="${token.range_backer}"   th:classappend="${token.range_backer_css}"></span>
            </div>
            <div style="font-size: 0.75rem !important;">
              <span th:text="${token.range_total_w}"   th:classappend="${token.range_total_w_css}"></span>
            </div>
          </td>
          <!-- Price -->
          <td style="text-align: right; min-width: 190px !important; max-width: 190px !important;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}">
            <div th:classappend="${token.btc_warning_css}">
              <span th:text="${token.current_price} + '$'"></span>
              <a th:target="_blank" th:href="${token.token_btc_link}" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}">BTC</a>
            </div>
            <div style="font-size: 0.8rem !important;">
              Avg14d: <span th:text="${token.avg_price + '$'}"></span>
                (<span style="text-align: left; min-width: 50px !important; max-width: 50px !important;"
                th:text="${token.avg_percent}"></span>)
            </div>
          </td>
          <!-- OCO -->
          <td class="oco_css" style="text-align: left; padding-left: 0.5rem !important; min-width: 450px !important; max-width: 500px !important;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}">
            <div style="font-size: 0.9rem !important;" th:classappend="${token.min_14d_css}">
              <span th:text="${token.oco_tp_price}"></span>
              <span th:classappend="${token.oco_tp_price_hight_css}" th:text="${token.oco_tp_price_hight}"></span>
            </div>
            <div style="font-size: 0.8rem !important;" th:classappend="${token.oco_css}">
              <span th:text="${token.oco_stop_limit}"></span>
              <span th:classappend="${token.oco_stop_limit_low_css}" th:text="${token.oco_stop_limit_low}"></span>
            </div>
            <div style="font-size: 0.8rem !important;">
              <span th:text="${token.avg_history}"></span>
              <span th:text="${token.min28day}" th:classappend="${token.min28day_css}" ></span>
            </div>

            <div style="font-size: 0.8rem !important;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}"> 
                <span th:classappend="${token.rate1h_css}">1h: <span th:text="${token.rate1h}"></span>% </span>
                <span th:classappend="${token.rate2h_css}">2h: <span th:text="${token.rate2h}"></span>% </span>
                <span th:classappend="${token.rate4h_css}">4h: <span th:text="${token.rate4h}"></span>% </span>
                <span th:classappend="${token.rate1d0h_css}">1d0h: <span th:text="${token.rate1d0h}"></span>% </span>
                <span th:classappend="${token.rate1d4h_css}">1d4h: <span th:text="${token.rate1d4h}"></span>% </span>
            </div>
            <p style="font-size: 0.6rem !important;" th:text="${token.oco_depth}">
            <div style="font-size: 0.8rem !important;">
                <span th:classappend="${token.range_taker_css}" th:text="${token.range_taker}"></span>
            </div>
          </td>

          <td style="text-align: right;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': token.price_change_24h_css}" th:text="${#numbers.formatDecimal(token.price_change_percentage_24h, 1, 'COMMA', 1, 'POINT') + '%'}">
          <td style="text-align: right"  th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': token.price_change_07d_css}" th:text="${#numbers.formatDecimal(token.price_change_percentage_7d,  1, 'COMMA', 1, 'POINT') + '%'}">
          <td style="text-align: right;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': token.price_change_14d_css}" th:text="${#numbers.formatDecimal(token.price_change_percentage_14d, 1, 'COMMA', 1, 'POINT') + '%'}">
          <td style="text-align: right;" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': token.price_change_30d_css}" th:text="${#numbers.formatDecimal(token.price_change_percentage_30d, 1, 'COMMA', 1, 'POINT') + '%'}">

          <!-- Star -->
          <td style="text-align: center; min-width: 160px !important;" th:classappend="${token.star_css}" th:text="${token.star}">
          <!-- Volume/AvgPrice/Low-Hight today -->

          <!-- Details -->
          <td style="max-width: 80px !important;" th:switch="${token.symbol}">
            <a th:case="'BTC'" th:target="_blank" th:href="${'/' + token.symbol}" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}" >
              <span th:text="${token.dot_symbol}"></span>
            </a>
            <a th:case="*" th:target="_blank" th:href="${'/' + token.symbol}" th:classappend="${#strings.isEmpty(token.gecko_id) ? 'hide': ''}" >
              <span th:text="${token.dot_symbol}"></span>
            </a>
          </td>

          <td class="fix_width2" style="text-align: right;" th:classappend="${#strings.contains(token.today_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span style="font-size: 0.6rem !important;"
                  th:classappend="${token.today_gecko_vol_css}"
                  th:text="${token.today_gecko_vol}"></span>
                <span th:classappend="${token.today_vol_css}"
                  th:text="${token.today_vol}"></span>
            </div>
            <p style="font-size: 1rem !important;" th:classappend="${token.today_price_css}"
              th:text="${token.today_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.today_ema_css}"
              th:text="${token.today_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_0_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_0_gecko_vol_css}"
                  th:text="${token.day_0_gecko_vol}"></span>
                <span th:classappend="${token.day_0_vol_css}"
                  th:text="${token.day_0_vol}"></span>
            </div>
            <p th:classappend="${token.day_0_price_css}"
              th:text="${token.day_0_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_0_ema_css}"
              th:text="${token.day_0_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_1_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_1_gecko_vol_css}"
                  th:text="${token.day_1_gecko_vol}"></span>
                <span th:classappend="${token.day_1_vol_css}"
                  th:text="${token.day_1_vol}"></span>
            </div>

            <p th:classappend="${token.day_1_price_css}"
              th:text="${token.day_1_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_1_ema_css}"
              th:text="${token.day_1_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_2_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_2_gecko_vol_css}"
                  th:text="${token.day_2_gecko_vol}"></span>
                <span th:classappend="${token.day_2_vol_css}"
                  th:text="${token.day_2_vol}"></span>
            </div>

            <p th:classappend="${token.day_2_price_css}"
              th:text="${token.day_2_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_2_ema_css}"
              th:text="${token.day_2_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_3_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_3_gecko_vol_css}"
                  th:text="${token.day_3_gecko_vol}"></span>
                <span th:classappend="${token.day_3_vol_css}"
                  th:text="${token.day_3_vol}"></span>
            </div>

            <p th:classappend="${token.day_3_price_css}"
              th:text="${token.day_3_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_3_ema_css}"
              th:text="${token.day_3_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_4_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_4_gecko_vol_css}"
                  th:text="${token.day_4_gecko_vol}"></span>
                <span th:classappend="${token.day_4_vol_css}"
                  th:text="${token.day_4_vol}"></span>
            </div>

            <p th:classappend="${token.day_4_price_css}"
              th:text="${token.day_4_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_4_ema_css}"
              th:text="${token.day_4_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_5_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_5_gecko_vol_css}"
                  th:text="${token.day_5_gecko_vol}"></span>
                <span th:classappend="${token.day_5_vol_css}"
                  th:text="${token.day_5_vol}"></span>
            </div>

            <p th:classappend="${token.day_5_price_css}"
              th:text="${token.day_5_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_5_ema_css}"
              th:text="${token.day_5_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_6_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_6_gecko_vol_css}"
                  th:text="${token.day_6_gecko_vol}"></span>
                <span th:classappend="${token.day_6_vol_css}"
                  th:text="${token.day_6_vol}"></span>
            </div>

            <p th:classappend="${token.day_6_price_css}"
              th:text="${token.day_6_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_6_ema_css}"
              th:text="${token.day_6_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_7_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_7_gecko_vol_css}"
                  th:text="${token.day_7_gecko_vol}"></span>
                <span th:classappend="${token.day_7_vol_css}"
                  th:text="${token.day_7_vol}"></span>
            </div>

            <p th:classappend="${token.day_7_price_css}"
              th:text="${token.day_7_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_7_ema_css}"
              th:text="${token.day_7_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_8_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_8_gecko_vol_css}"
                  th:text="${token.day_8_gecko_vol}"></span>
                <span th:classappend="${token.day_8_vol_css}"
                  th:text="${token.day_8_vol}"></span>
            </div>

            <p th:classappend="${token.day_8_price_css}"
              th:text="${token.day_8_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_8_ema_css}"
              th:text="${token.day_8_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_9_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_9_gecko_vol_css}"
                  th:text="${token.day_9_gecko_vol}"></span>
                <span th:classappend="${token.day_9_vol_css}"
                  th:text="${token.day_9_vol}"></span>
            </div>

            <p th:classappend="${token.day_9_price_css}"
              th:text="${token.day_9_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_9_ema_css}"
              th:text="${token.day_9_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_10_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_10_gecko_vol_css}"
                  th:text="${token.day_10_gecko_vol}"></span>
                <span th:classappend="${token.day_10_vol_css}"
                  th:text="${token.day_10_vol}"></span>
            </div>

            <p th:classappend="${token.day_10_price_css}"
              th:text="${token.day_10_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_10_ema_css}"
              th:text="${token.day_10_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_11_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_11_gecko_vol_css}"
                  th:text="${token.day_11_gecko_vol}"></span>
                <span th:classappend="${token.day_11_vol_css}"
                  th:text="${token.day_11_vol}"></span>
            </div>

            <p th:classappend="${token.day_11_price_css}"
              th:text="${token.day_11_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_11_ema_css}"
              th:text="${token.day_11_ema}">
          </td>

          <td class="fix_width" style="text-align: right;" th:classappend="${#strings.contains(token.day_11_ema, 'v/mc') ? 'highlight' : 'bg-light'}">
            <div>
                <span
                  style="font-size: 0.6rem !important;"
                  th:classappend="${token.day_12_gecko_vol_css}"
                  th:text="${token.day_12_gecko_vol}"></span>
                <span th:classappend="${token.day_12_vol_css}"
                  th:text="${token.day_12_vol}"></span>
            </div>

            <p th:classappend="${token.day_12_price_css}"
              th:text="${token.day_12_price}">
            <p style="font-size: 0.6rem !important;"
              th:classappend="${token.day_12_ema_css}"
              th:text="${token.day_12_ema}">
          </td>

          <!-- Name highlight rounded-lg px-1 -->
          <td></td>

        </tr>
      </tbody>
    </table>
    <p>Sự kiện: 14/12/2022~02/01/2023 altcoin sập do nghỉ lễ tết.</p>
  </div>

</body>
</html>