<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="refresh" content="60">
<title>Wanda-details</title>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<style>
.tableFixHead {
  height: 100px;
  margin-left: 0.5rem;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
  font-size: 0.75rem !important;
}

th {
  background: #eee;
  font-size: 0.75rem !important;
}

p {
  margin-bottom: 0px !important;
}

.highlight {
  background-color: #CFF5FF !important;
}

.oco_css:focus {
  color: red !important;
}

.fix_width {
    min-width: 138px !important;
    max-width: 138px !important;
    font-size: 0.8rem !important;
}

.fix_width2 {
    min-width: 300px !important;
    max-width: 300px !important;
    font-size: 0.8rem !important;
}

.display-tity{
    font-size: 0.65rem !important;
}

.table td, .table th {
  padding: 0.25rem !important;
  vertical-align: middle !important;
}
.custom_header {
  text-align: center !important;
  background: #eee !important;
}

</style>
<body class="">
    <div style="margin-top: 1rem; margin-left: 0.5rem; font-size: 0.75rem !important;"><a th:target="_blank" th:href="${'https://vn.tradingview.com/chart/?symbol=VANTAGE%3ASP500'}">S&P 500</a><span　th:text="${sp500}" th:classappend="${#strings.contains(sp500, '-') ? 'text-danger' : 'text-primary'}"></span>
    </div>

    <div style="margin-top: 1rem; margin-left: 0.5rem; font-size: 0.75rem !important;">
      <span>Bitcoin Balances on </span>
      <a th:target="_blank" th:href="${'https://www.coinglass.com/Balance'}">Exchanges:</a><br>
      BTC 24h: <span th:text="${exchanges_24h}" th:classappend="${#strings.contains(exchanges_24h, '-') ? '' : 'text-danger'}"></span>, 07d: <span th:text="${exchanges_7d}"></span>　(<a th:target="_blank" th:href="${'https://www.binance.com/en-GB/futures/funding-history/3'}">Funding rate</a>)
    </div>

    <div th:if="${#lists.size(scapling_list) > 0}" style="margin-top: 1rem; margin-left: 0.5rem; font-size: 0.75rem !important; min-width: 400px !important; max-width: 400px !important;">
      <p class="font-weight-bold">(Scalping)</p>
      <div>
        <a th:each="token,iter: ${scapling_list}" th:target="_blank" th:href="${token.tradingview}"><span style="margin-right: 0.5rem;" th:text="${token.symbol}"></span></a>
      </div>
    </div>

    <p style="margin-top: 1rem; margin-left: 0.5rem; font-size: 0.75rem !important;" th:text="${long_short_header}" th:classappend="${#strings.contains(long_short_header, 'Downtrend') ? 'text-danger font-weight-bold' : #strings.contains(long_short_header, 'Uptrend') ? 'text-primary font-weight-bold' : ''}"></p>

    <div style="display: flex; margin-top: 0rem; margin-left: 0.5rem; font-size: 0.75rem !important;">
        <table class="table-bordered" style="min-width: 195px !important; max-width: 195px !important;">
            <tbody>
              <tr th:each="msg,iter: ${long_short_list_perfect}">
                <td th:if="${iter.index == 0}" style="text-align: center; background: #eee; padding: 0; padding-left: 0.5rem !important;" th:text="${msg}" class="text-primary font-weight-bold"></td>
                <td th:if="${iter.index != 0}" style="padding: 0; padding-left: 0.25rem !important;" th:text="${msg}" th:classappend="${#strings.contains(msg, 'Bad') ? 'text-danger font-weight-bold' : #strings.contains(msg, 'Good') ? 'text-primary' : ''}"></td>
              </tr>
            </tbody>
        </table>
        <table class="table-bordered" style="min-width: 195px !important; max-width: 195px !important; margin-left: 0.5rem; ">
            <tbody>
              <tr th:each="msg,iter: ${long_short_list_curr_price}">
                <td th:if="${iter.index == 0}" style="text-align: center; background: #eee; padding: 0; padding-left: 0.5rem !important;" th:text="${msg}" class="text-primary font-weight-bold"></td>
                <td th:if="${iter.index != 0}" style="padding: 0; padding-left: 0.25rem !important;" th:text="${msg}" th:classappend="${#strings.contains(msg, 'Bad') ? 'text-danger font-weight-bold' : #strings.contains(msg, 'Good') ? 'text-primary' : ''}"></td>
              </tr>
            </tbody>
        </table>
    </div>

    <div style="display: flex; margin-top: 0.5rem;">
      <table class="table table-bordered tableFixHead" style="min-width: 125px !important; max-width: 125px !important;">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Bids</th>
            <th class="text-center" scope="col">Vol (m$)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table_row" th:each="token,iter: ${data_list_1}" th:classappend="${token.symbol == 'BTC' AND token.val_million_dolas >= 2 ? 'bg-warning text-primary font-weight-bold' : ''}">
            <!-- # -->
            <td class="" style="text-align: center; min-width: 30px !important; max-width: 30px !important;" th:text="${#lists.size(data_list_1) - iter.index}" th:classappend="${token.symbol != 'BTC' ? 'text-white' : ''} " >
            <!-- Buy -->
            <td th:text="${token.price}" style="text-align: center; min-width: 60px !important; max-width: 60px !important;" 
            th:classappend="${token.symbol == 'BTC' AND token.val_million_dolas >= 2 ? 'text-primary font-weight-bold' : token.symbol == 'BTC' AND token.val_million_dolas >= 1 ? 'text-primary' : ''}"></td>
            <!-- Volume -->
            <td th:text="${token.val_million_dolas}" style=" min-width: 65px !important; max-width: 65px !important; text-align: center;" 
            th:classappend="${token.symbol == 'BTC' AND token.val_million_dolas >= 2 ? 'text-primary font-weight-bold' : token.symbol == 'BTC' AND token.val_million_dolas >= 1 ? 'text-primary' : token.symbol != 'BTC' AND token.val_million_dolas >= 2 ? 'text-danger font-weight-bold' : '' }"></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered tableFixHead" style="min-width: 155px !important; max-width: 155px !important;">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Asks</th>
            <th class="text-center" scope="col">Vol (m$)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table_row" th:each="token,iter: ${data_list_2}" th:classappend="${token.symbol == 'BTC' AND token.val_million_dolas >= 2 ? 'bg-warning text-primary font-weight-bold' : ''}">
            <!-- # -->
            <td class="" style="text-align: center; min-width: 30px !important; max-width: 30px !important;" th:text="${#lists.size(data_list_1) + iter.index + 1}" th:classappend="${token.symbol != 'BTC' ? 'text-white' : ''} " >
            <!-- Sell -->
            <td th:text="${token.price}" style="text-align: center; min-width: 60px !important; max-width: 60px !important;" 
            th:classappend="${token.symbol == 'BTC' AND token.val_million_dolas >= 2 ? 'text-primary font-weight-bold' : token.symbol == 'BTC' AND token.val_million_dolas >= 1 ? 'text-primary' : ''}"></td>
            <!-- Volume -->
            <td th:text="${token.val_million_dolas}" style=" min-width: 65px !important; max-width: 65px !important; text-align: center;" 
            th:classappend="${token.symbol == 'BTC' AND token.val_million_dolas >= 2 ? 'text-primary font-weight-bold' : token.symbol == 'BTC' AND token.val_million_dolas >= 1 ? 'text-primary' : token.symbol != 'BTC' AND token.val_million_dolas >= 2 ? 'text-danger font-weight-bold' : ''}"></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered tableFixHead" style="min-width: 70px !important; max-width: 70px !important;">
        <thead>
          <tr>
            <th class="text-center" scope="col">48h</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table_row" th:each="msg,iter: ${btc_48h}">
            <td style="text-align: center; max-width: 70px !important; font-size: 0.7rem !important;" th:text="${msg}" th:classappend="${#strings.contains(msg, '10d') ? 'font-weight-bold custom_header' : #strings.contains(msg, 'now') ? 'text-primary' : ''}"></td>
          </tr>
        </tbody>
      </table>
  </div>

  <a style="padding-top: 3rem;padding-left: 0.5rem;" th:target="_blank" th:href="${'https://vn.tradingview.com/chart/?symbol=BINANCE%3A' + symbol + 'USDT'}">
    <span>Trading View</span>
  </a>

  <br><br>

  <div style="display: flex; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 0.75rem !important;">
      <table class="table-bordered" style="min-width: 195px !important; max-width: 195px !important;">
          <tbody>
            <tr th:each="msg,iter: ${long_list_perfect2}">
              <td th:if="${iter.index == 0}" style="text-align: center; background: #eee; padding: 0; padding-left: 0.5rem !important;" th:text="${msg}" class="font-weight-bold"></td>
              <td th:if="${iter.index != 0}" style="padding: 0; padding-left: 0.25rem !important;" th:text="${msg}"></td>
            </tr>
          </tbody>
      </table>
      <table class="table-bordered" style="min-width: 195px !important; max-width: 195px !important; margin-left: 0.5rem; ">
          <tbody>
            <tr th:each="msg,iter: ${short_list_perfect2}">
              <td th:if="${iter.index == 0}" style="text-align: center; background: #eee; padding: 0; padding-left: 0.5rem !important;" th:text="${msg}" class="font-weight-bold"></td>
              <td th:if="${iter.index != 0}" style="padding: 0; padding-left: 0.25rem !important;" th:text="${msg}"></td>
            </tr>
          </tbody>
      </table>
  </div>

  <br><br>

  <div th:if="${false}">
    <p style="margin-top: 1rem; margin-left: 0.5rem; " class="font-weight-bold">(Scalping)</p>
    <table id="bnb_table" class="table table-bordered tableFixHead" style="min-width: 750px !important; max-width: 750px !important; padding-bottom: 3rem;">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Symbol</th>
          <th class="text-center" scope="col">Entry</th>
          <th class="text-center" scope="col">Stop loss</th>
          <th class="text-center" scope="col">Low</th>
          <th class="text-center" scope="col">Tp1</th>
          <th class="text-center" scope="col">Tp2</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table_row" th:each="token,iter: ${scapling_list}">
          <td style="text-align: center;" th:text="${iter.index + 1}"></td>
          <td style="min-width:  60px !important; max-width:  60px !important;">
            <a th:target="_blank" th:href="${token.tradingview}"><span th:text="${token.symbol}"></span></a>
          </td>
          <td style="min-width:  80px !important; max-width:  80px !important;" th:text="${token.entry}"></td>
          <td style="min-width: 200px !important; max-width: 200px !important;" th:text="${token.stop_loss}"></td>
          <td style="min-width: 100px !important; max-width: 100px !important;" th:text="${token.low}"></td>
          <td style="min-width: 200px !important; max-width: 200px !important;" th:text="${token.tp1}"></td>
          <td style="min-width: 200px !important; max-width: 200px !important;" th:text="${token.tp2}"></td>
        </tr>
      </tbody>
    </table>
    <br><br>
  </div>
</body>
</html>